/* Color Palette */
/*
rgba(44,127,204,1)
rgba(72,178,206,1)
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General */

body{
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}

.blueBG {
  background-color: rgba(44,127,204,1);
}
.turquoiseBG {
  background-color: rgba(72,178,206,1)
}

.blueType {
  color: rgba(44,127,204,1);
}
.turquoiseType {
  color: rgba(72,178,206,1)
}

/* Header */

.text-scd {
  color: rgb(89, 219, 255) !important;
}

#header img  {
  width: 20px;
}

.ampersand {
  font-size: 14px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  background-color: rgba(44,127,204,1);
}

.dropdown-item {
  color: #fff;
}


/* Main */

#main .carousel-inner img {
  max-height: 70vh;
  object-fit:cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg,rgba(44,127,204,1)  25%, rgba(72,178,206,0.1)  100%); 
  color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
height: 100%;
}

.home-hero-h2{
  font-size:62px;
  margin-top: 40px;
}

.home-hero-excerpt{
  font-size:24px;
}

.spark-graphic{
  line-height: 1.2;
  font-size: 28pt;
}

.spark-text{
  color: rgba(72,178,206,1);
  font-size: 72px;
  font-weight: bold;
}

.spark2-text{
  color: rgb(208, 245, 255);
  font-weight: bold;
}

.spark3-text{
  color: rgba(44,127,204,1);
  font-weight: bold;
}

/* .spark3-text{
  color: rgba(44,127,204,1);
  font-weight: bold;
} */


.btn-primary-scd {
  color: #fff;
  background-color: rgba(72,178,206,1);
  border-color: rgba(44,127,204,1);
  font-size: 21px;
  border-radius: 0px;
  border: none;
}

.btn-primary-scd:hover {
  color: #fff;
  background: linear-gradient(90deg, rgba(44,127,204,1) 0%, rgba(72,178,206,1) 100%); 
  border-color: rgba(72,178,206,1);
  font-size: 21px;
  font-weight: bold;
}

.btn-secondary-scd {
  color: #fff;
  background-color: rgba(44,127,204,1);
  border-color:  rgba(72,178,206,1);
  font-size: 21px;
  border-radius: 0px;
  border: none;
}

.btn-secondary-scd:hover {
  color: #fff;
  background: linear-gradient(90deg, rgba(44,127,204,1) 0%, rgba(72,178,206,1) 100%); 
  border-color: rgba(72,178,206,1);
  font-size: 21px;
  font-weight: bold;
}

.p-contact {
  font-size: 21px;
  font-weight: bold;
}
/* Insights */

#insights {
  background-color: rgba(44,127,204,1);
}

.card {
  background-color: rgba(72,178,206,1);
  padding: 15px;
}

.card a:hover {
  text-decoration: none;
  color: rgba(44,127,204,1);;
}

.card {

  border: 0px;
  border-radius: 0;
}

.card-img-top {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.badge-scd1{
    background-color: rgba(44,127,204,1);
    border-radius: 0;
    font-size: 12px;
  }
  .badge-scd2{
    background-color: #fff;
    border-radius: 0;
    font-size: 12px;
}

/* careers */

#careers {
  max-width: 100%;
  background-color: rgba(72,178,206,1);
  color: #fff;
}

#careers img {
  max-width: 100%;
}

#careers .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(44,127,204,0.1)  25%, rgba(72,178,206,1)   100%); 
  color: white;
}

.careers-h2{
  font-size: 52px;
}

.careers-span{
  font-weight: bold;
}

.careers-p {
  font-size: 24px;
}

/* Contact */

.contact-p{
  font-size: 24px;
}

/* ABOUT PAGE */
/* About */

/* careers */

#about {
  max-width: 100%;
  background-color: rgba(44,127,204,1);
  color: #fff;
}

#about img {
  max-width: 100%;
}

#about .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(44,127,204,1)  0%, rgba(72,178,206,0.1)   50%); 
  color: white;
}

.about-h2{
  font-size: 52px;
  padding-top: 100px;
}

.about-span{
  font-weight: bold;
}

.about-p {
  font-size: 24px;
}

/* Contact */

.contact-p{
  font-size: 24px;
}

.z-index-1000{
  z-index: 1000;
}

/*  */

.site-content {
  background-image: url('assets/images/about/who/who-1.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.site-title .site-desc{
  color: #fff;
  font-family: 'Didact Gothic', sans-serif;
}

.site-title {
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 50px;
}

.site-desc{
  font-size: 14px;
  padding-left: 15%;
}

.site-btn1{
  margin-left: 20%;
  background-color: #000;
  color: #fff;
}

.site-btn2{
  background-color: #fff;
}

.site-bt1 .site-btn2{
  margin-top: 5%;
  margin-bottom: 40%;
}

.section-2 .heading-1{
  margin-top: 8%;
}

.section-2 .heading-2{
  margin-bottom: 5%;
  font-size: 39px;
}

.section-2 .para-1{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.section-2 .card-text .para-1{
  color: rgba(0, 0, 0, 0.59);
}

.section-2{
  margin-bottom: 8%;
}

.card {
  width:20rem;
}

/* About Section 4 */

.section-4 .container-fluid{
  background-image: url('assets/images/about/who/who-1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.section-4 .heading-1{
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: 'Didact Gothic', sans-serif;
  width: 80%;
  color: #fff;
}

.section-4 .para{
  width: 80%;
  font-family: 'Didact Gothic', sans-serif;
  color: #fff;
  margin-bottom: 7%;
}

.section-4 .btn{
  margin-bottom: 15%;
  width:30%;
  padding: 2%;
}

/* Section-5 */


.section-5{
  margin-top: 6%;
}

.section-5 i{
  color: rgba(44,127,204,1);
}

.section-5 p{
 color: rgba(0,0,0,0.59);
}

/* Section-6 */

.section-6{
  margin-top: 8%;
}

.section-6 .row .col-md-7, .col-md-5{
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-6 a{
  color: rgba(72,178,206,1);
  font-size: 40px;
  text-decoration: none;
}

.section-6 .para-1{
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 7%;
  font-size: 23px;
}



/* Footer */

#footer {
  background: linear-gradient(90deg, rgba(44,127,204,1) 0%, rgba(72,178,206,1) 100%); 
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}
footer a:hover{
  text-decoration: none;
  color: rgb(162, 232, 252) !important;
}

/*  */

.social i {
  color: rgba(72,178,206,1);
  font-size: 20px;
}

/* Modal */

.modal-content {
  border: 1px solid rgba(72,178,206,1);
  border-radius: 0;
}

.input-group-prepend {
  border-radius: 0;
}

.alert-warning {
  background-color: rgba(72,178,206,1) !important;
  color: #fff;
  border-color: rgba(44,127,204,1);
  border-radius: 0;
}

/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap 
*/

@media screen and (max-width: 320px){
  .site-content .site-title{
    font-size: 30px;
    padding-left: 15%;
  }

  .site-content .site-btn2{
    display: none;
  }

  .site-content .site-btn{
    margin-left: 15%;
  }

  .section-3 .heading-1, .section-3 .heading-2 {
    font-size: 25px;
  }

  .section-2 .col-md-4{
    padding: 5%;margin-left: 8%;
  }

  .section-2 .card{
    width: 15rem;
  }
  
  .section-6 .col-md-5{
    padding: 0% 15%;
  }

  footer input[type="button"]{
    margin-top: 5%;

}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) { 
  .spark-text{
    color: rgba(72,178,206,1);
    font-size: 42px;
  }
  .home-hero-h2{
    font-size:34px;
    margin-top: 40px;
  }
  .contact-hero{
    /* padding:-20px; */
    margin: -30px;
    margin-left: 120px;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .section-2 .card{
    width: 14rem;
  }

  .section-6 .col-md-7 img{
    width: 350px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }